@media (max-width: 768px) and (min-width: 480px) {
    .test {
        width: 100px;
        height: 50px;
        display: block;
        background-color: yellow;
    }
    /* FONTS */
    .card-subtitle {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 1rem 0;
    }
    .info-container {
        display: flex;
        flex-direction: column;
    }
    .info {
        text-align: center;
    }
}