body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Your code here  */
.flex-container {
    display: flex;
    justify-content: center;
}

.box {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
