body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.display-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

/* Your code here  */
.block-element {
  display: block;
  background-color: rgb(240, 240, 240);
  margin: 20px;
  padding: 15px;
}

.inline-block-element {
  display: inline-block;
  background-color: rgb(201, 227, 169);
  margin: 20px;
  padding: 15px;
}

.inline-element {
  display: inline;
  background-color: rgb(174, 199, 232);
  margin: 20px;
  padding: 15px;
}