/* CSS Styling:


Your Task:

Perform the following operations inside the style.css file.
Style the universal selector (*):

Set box-sizing to "border-box".
Style the container class (.container):

Set a width of "600px".
Add a background color of "rgb(240, 240, 240)".
Style the box1 class (.box1):

Add a padding of "10px".
Add a border of "2px solid rgb(41, 128, 185)".
Add a margin to "10px".
Style the box2 class (.box2):

Add a padding of "20px".
Add a border of "1px dashed rgb(39, 174, 96)".
Add a margin of "15px".
Style the box3 class (.box3):

Add a padding of "15px".
Add a border of "3px dotted rgb(192, 57, 43)".
Add a margin of "5px". */
* {
    box-sizing: border-box;
}

.container {
    width: 600px;
    background-color: rgb(240, 240, 240);
}

.box1 {
    padding: 10px;
    border: 1px solid rgb(41, 128, 185);
    margin: 10px;
}

.box2 {
    padding: 20px;
    border: 1px dashed rgb(39, 174, 96);
    margin: 15px;
}
.box3 {
    padding: 15px;
    border: 3px dotted rgb(192, 57, 43);
    margin: 5px;
}
