/* Pseudo Selectors


Step 1: (:hover)

Use a hover effect in each element using the (.element) class and apply the following properties:
Transform: scale(1.1)
Background color: rgb(51, 51, 51)
Step 2: (::first-letter)

Style the first letter of the text in Element 1 (.element1) with the following properties:
Font size: 24px
Color: rgb(255, 160, 122)
Step 3: (::before)

Use the ::before pseudo-selector to add content before Element 2 (.element2) with the following specifications:
Content: '🚀 '
Margin-right: 5px
Step 4: (::after)

Use the ::after pseudo-selector to add content after Element 1 (.element1) with the following specifications:
Content: '(Hover me!)'
Color: rgb(70, 130, 180)
Font style: italic
*/

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element {
  margin: 20px;
  padding: 10px;
  border: 2px solid #333;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Your code here  */
.element:hover {
  Transform: scale(1.1);
  Background-color: rgb(51, 51, 51);
}
.element1::first-letter {
  Font-size: 24px;
  Color: rgb(255, 160, 122);
}
.element2::before {
  Content: '🚀';
  Margin-right: 5px;
}
.element1::after {
  Content: '(Hover me!)';
  Color: rgb(70, 130, 180);
  Font-style: italic;
}